h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    text-align: center;
}

p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
}

form {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 2em;
    
}

fieldset {
    border: none;
    border-bottom: 3px solid black;
    padding-top : 2em;
    padding-bottom: 2em;
}

div {
    display: inline-block;
    align-items: center;
}

#submit {
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    font-weight: bolder;

}